* {
    background-color: black;
}
img {
    max-width: 50%;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
}
.libre-baskerville {
font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.main-container {
    text-align: center;
    margin-top: 30px;
}

/* .sub-container {
    width: 50%;
    margin: auto;
} */

h3 {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 60px;
    text-align: end;

}


